[submodule "themes/parsa-hugo"]
	path = themes/parsa-hugo
	url = https://github.com/themefisher/parsa-hugo-personal-blog-theme.git
[submodule "public"]
	path = public
	url = git@github.com:travellingsky/travellingsky.github.io.git
	branch = master
