<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<footer id="footer">
    <section class="split contact" id="about">
        <section>
           
        </section>
    </section>

    <section class="split contact">

         <section>
            <div class="field">
                <!--
                <a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="80" href="https://www.pinterest.com/drawbuildplay/drawbuildplay-blog/"></a>
                -->
            </div>
        </section>


        {{ with $data.contactinfo.bio }}
        <section>
            <div class="field">
                <label>MY STORY</label>
                <p>{{ . }}</p>
            </div>
        </section>
        {{ end }}


    </section>
</footer>
