<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{- $categoryListPage := print (index (split .URL "/") 2) -}}
{{- $category :=   .Params.categories -}}
            
<nav id="nav">
    <ul class="links">
        <li class="{{if eq .URL "/"}}active{{end}}">
            <a href='{{ "/" | relLangURL }}'>{{ .Site.Title }}</a>
        </li>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li class="{{if or (eq ($categoryListPage) ($name)) (in $category $name)}}active{{end}}">
                    <a title="{{$name}}" href="{{ .Permalink }}">{{ $name }}</a>
                </li>
            {{ end }}
        {{ end }}

        
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
        <li {{if eq ($.Site.Language) (.Language)}}class="active"{{end}}><a href='{{ .Permalink }}'>{{ .Language.LanguageName }}</a></li>
        {{ end }}
        {{ end }}
    </ul>

    {{ with $data.social }}
    <ul class="icons">
        {{ with .pinterest }}
        <li>
            <a href="{{ . }}" class="icon fa-pinterest" target="_blank" title="Follow DrawBuildPlay on Pinterest"><span class="label">Pinterest</span></a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</nav>
